.center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#header {
	top: 0;
	width: 100%;
	height: 100px;
	font-family: verdana;
}

input.logout {
	width: 90px;
	height: 30px;
	border-radius: 5px;
	border: 2px solid #CB3232;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-left: 15px;
	padding-bottom: 3px;
	padding-right: 10px;
	background-color: white;
	color: #CB3232;
	font-family: verdana;
	font-size: 11pt;
}

input.logout:hover {
	box-shadow: 1px 1px 1px #b3b3b3;
	cursor: pointer;
}

input.btn_back {
	width: 95px;
	height: 37px;
	border: none;
	border-radius: 2px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 5px;
	background-color: #CB3232;
	color: white;
	font-family: tahoma;
	font-size: 12pt;
}

input.btn_back:hover {
	box-shadow: 2px 2px 2px #b3b3b3;
}

.table_upload {
	width: 650px;
}

td.label {
	color: #808080;
	text-align: left;
	font-family: tahoma;
	font-size: 13pt;
	width: 120px;
	height: 50px;
}

.file_input_div {
	position: relative;
	width: 100px;
	height: 30px;
	overflow: hidden;
	float: left;
}

.file_input_btn {
	position: absolute;
	width: 100px;
	height: 30px;
	font-size: 0pt;
	top: 0;
	right: 0;
	opacity: 0;
}

.file_input_btn:hover {
	cursor: pointer;
}

.file_input_img {
	width: 100px;
	height: 30px;
	z-index: -5;
}

.file_input_textbox {
	vertical-align: middle;
	background-color: transparent;
	border: none;
	margin-left: 15px;
	font-size: 11pt;
	width: 320px;
	text-overflow: ellipsis;
}

.title_textbox {
	border: 2px solid #CB3232;
	border-radius: 3px;
	width: 350px;
	height: 25px;
	padding-left: 10px;
	color: black;
	font-size: 11pt;
	float: left;
}

.title_select {
	border: 2px solid #CB3232;
	border-radius: 3px;
	width: 120px;
	height: 30px;
	color: black;
	font-size: 13pt;
	cursor: pointer;
	margin-left: 25px;
	vertical-align: middle;
}

.descript {
	border: 3px solid #CB3232;
	border-radius: 3px;
	color: black;
	font-family: tahoma;
	font-size: 10pt;
	padding: 6px;
}

input.btn_upload {
	width: 95px;
	height: 37px;
	border: none;
	border-radius: 2px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 5px;
	background-color: #CB3232;
	color: white;
	font-family: tahoma;
	font-size: 12pt;
}

input.btn_upload:hover {
	box-shadow: 2px 2px 2px #b3b3b3;
}