<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>webdev</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!-- DD : Deploy 배포 서술자 특정한 값을 주지 않았을 때 welcome-file 순서대로 찾아가게 된다. -->
	<!-- filter : 반복 되는 동작에 대해서 항상 수행 -->
	<filter>
		<filter-name>character encoding</filter-name>
		<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
		<!-- .class는 삭제, 위치는 apache.catalina.filters.setCharacterEncodingFilter 
			파일을 Copy Qualified name -->
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>character encoding</filter-name>
		<!-- mapping을 하여 '/' 이하로 들어오는 모든 게 거쳐가도록 한다. -->
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>